h1 {
    text-align: center;
    color: white;
    background-color: #C62020;
    margin-top: 0px;
    padding-bottom: 2rem;
}

#TODO {
    border: 1px solid;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 25rem;
    margin-right: 25rem;
    border-radius: 3px;
    
}

p1 {
    margin-left: 5rem;
    display: block;
}



.cuadros {
    margin-left: 5rem;
    margin-bottom: 4rem;

}

.negrita {
    margin-left: 5rem;
}

.checkbox {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.lista {
    display: block;
}

.boton {
    background-color: #000000;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.cuadro-fecha {
    margin-left: 5rem;
    margin-bottom: 5rem
}

